@import "../colors";
@import "../font";
@import "../size";
@import "../mixin";
@import "../global";

section.section-two {
  width: 100%;
  height: 850px;
  // border: 1px solid red;
  @include dynamic-flex-row;
  background-color: #000b76;

  div.table {
    width: 80%;
    height: 90%;
    // border: 1px solid red;
    @include dynamic-flex-column($jc: space-between);

    div.today {
      width: 50%;
      height: 7.2%;
      // border: 1px solid red;
      @include dynamic-flex-column;

      p {
        font-family: $Poppins;
        font-size: 2.7rem;
        font-weight: 700;
        color: $white;
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
      tr.one {
        border-top: 0.6px solid #bdbdbd;
        height: 50px;
        td.one-one {
          div.one-one-container {
            @include dynamic-flex-row;
            width: 100%;
            height: 100%;

            span {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-two {
          div.one-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-three {
          div.one-three-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-four {
          div.one-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-five {
          div.one-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-six {
          div.one-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-seven {
          div.one-seven-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.one-eight {
          div.one-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
      }
      tr.two {
        height: 100px;
        border-top: 0.6px solid #bdbdbd;
        td.two-one {
          div.two-one-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: Inter;
              font-size: 1rem;
              font-weight: 400;
              color: $white;
              text-align: center;
            }
          }
        }
        td.two-two {
          div.two-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 5px;

            div.two-two-text {
              @include dynamic-flex-row;
              gap: 3px;
              span.bitcoin {
                font-family: Open Sans;
                font-size: 1.1rem;
                font-weight: 400;
                color: $white;
                text-align: left;
              }
              span {
                font-family: Open Sans;
                font-size: 0.9rem;
                font-weight: 400;
                color: #828282;

                text-align: left;
              }
            }
          }
        }
        td.two-three {
          div.two-three-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;

              text-align: center;
            }
          }
        }
        td.two-four {
          div.two-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.two-five {
          div.two-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.two-six {
          div.two-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.two-seven {
          div.two-seven-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-column($ai: flex-end);
            gap: 3px;

            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
            span {
              font-family: $Inter;
              font-size: 0.9rem;
              font-weight: 600;
              color: #828282;
              text-align: left;
            }
          }
        }
        td.two-eight {
          div.two-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
          }
        }
      }
      tr.three {
        height: 100px;
        border-top: 0.6px solid #bdbdbd;
        td.three-one {
          div.three-one-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: Inter;
              font-size: 1rem;
              font-weight: 400;
              color: $white;
              text-align: center;
            }
          }
        }
        td.three-two {
          div.three-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 5px;

            div.three-two-text {
              @include dynamic-flex-row;
              gap: 3px;
              span.etherium {
                font-family: Open Sans;
                font-size: 1.1rem;
                font-weight: 400;
                color: $white;
                text-align: left;
              }
              span {
                font-family: Open Sans;
                font-size: 0.9rem;
                font-weight: 400;
                color: #828282;

                text-align: left;
              }
            }
          }
        }
        td.three-three {
          div.three-three-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;

              text-align: center;
            }
          }
        }
        td.three-four {
          div.three-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #ff1a1a;
            }
          }
        }
        td.three-five {
          div.three-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.three-six {
          div.three-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.three-seven {
          div.three-seven-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-column($ai: flex-end);
            gap: 3px;

            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
            span {
              font-family: $Inter;
              font-size: 0.9rem;
              font-weight: 600;
              color: #828282;
              text-align: left;
            }
          }
        }
        td.three-eight {
          div.three-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
          }
        }
      }

      tr.four {
        height: 100px;
        border-top: 0.6px solid #bdbdbd;
        td.four-one {
          div.four-one-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: Inter;
              font-size: 1rem;
              font-weight: 400;
              color: $white;
              text-align: center;
            }
          }
        }
        td.four-two {
          div.four-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 5px;

            div.four-two-text {
              @include dynamic-flex-row;
              gap: 3px;
              span.cardano {
                @include dynamic-flex-row;
                font-family: Open Sans;
                font-size: 1.1rem;
                font-weight: 400;
                color: $white;
                text-align: left;
              }
              span {
                font-family: Open Sans;
                font-size: 0.9rem;
                font-weight: 400;
                color: #828282;

                text-align: left;
              }
            }
          }
        }
        td.four-three {
          div.four-three-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;

              text-align: center;
            }
          }
        }
        td.four-four {
          div.four-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #ff1a1a;
            }
          }
        }
        td.four-five {
          div.four-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #ff1a1a;
            }
          }
        }
        td.four-six {
          div.four-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.four-seven {
          div.four-seven-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-column($ai: flex-end);
            gap: 3px;

            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
            span {
              font-family: $Inter;
              font-size: 0.9rem;
              font-weight: 600;
              color: #828282;
              text-align: left;
            }
          }
        }
        td.four-eight {
          div.four-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
          }
        }
      }

      tr.five {
        height: 100px;
        border-top: 0.6px solid #bdbdbd;
        td.five-one {
          div.five-one-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: Inter;
              font-size: 1rem;
              font-weight: 400;
              color: $white;
              text-align: center;
            }
          }
        }
        td.five-two {
          div.five-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 5px;

            div.five-two-text {
              @include dynamic-flex-row;
              gap: 3px;
              span.tether {
                font-family: Open Sans;
                font-size: 1.1rem;
                font-weight: 400;
                color: $white;
                text-align: left;
              }
              span {
                font-family: Open Sans;
                font-size: 0.9rem;
                font-weight: 400;
                color: #828282;

                text-align: left;
              }
            }
          }
        }
        td.five-three {
          div.five-three-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;

              text-align: center;
            }
          }
        }
        td.five-four {
          div.five-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.five-five {
          div.five-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.five-six {
          div.five-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.five-seven {
          div.five-seven-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-column($ai: flex-end);
            gap: 3px;

            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
            span {
              font-family: $Inter;
              font-size: 0.9rem;
              font-weight: 600;
              color: #828282;
              text-align: left;
            }
          }
        }
        td.five-eight {
          div.five-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
          }
        }
      }

      tr.six {
        height: 100px;
        border-top: 0.6px solid #bdbdbd;
        td.six-one {
          div.six-one-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: Inter;
              font-size: 1rem;
              font-weight: 400;
              color: $white;
              text-align: center;
            }
          }
        }
        td.six-two {
          div.six-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 5px;

            div.six-two-text {
              @include dynamic-flex-row;
              gap: 3px;
              span.avalanche {
                @include dynamic-flex-row;
                font-family: Open Sans;
                font-size: 1.1rem;
                font-weight: 400;
                color: $white;
                text-align: left;
              }
              span {
                font-family: Open Sans;
                font-size: 0.9rem;
                font-weight: 400;
                color: #828282;

                text-align: left;
              }
            }
          }
        }
        td.six-three {
          div.six-three-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;

              text-align: center;
            }
          }
        }
        td.six-four {
          div.six-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #ff1a1a;
            }
          }
        }
        td.six-five {
          div.six-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #ff1a1a;
            }
          }
        }
        td.six-six {
          div.six-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.six-seven {
          div.six-seven-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-column($ai: flex-end);
            gap: 3px;

            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
            span {
              font-family: $Inter;
              font-size: 0.9rem;
              font-weight: 600;
              color: #828282;
              text-align: left;
            }
          }
        }
        td.six-eight {
          div.six-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
          }
        }
      }

      tr.seven {
        height: 100px;
        border-top: 0.6px solid #bdbdbd;
        td.seven-one {
          div.seven-one-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 3px;
            span {
              font-family: Inter;
              font-size: 1rem;
              font-weight: 400;
              color: $white;
              text-align: center;
            }
          }
        }
        td.seven-two {
          div.seven-two-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            gap: 5px;

            div.seven-two-text {
              @include dynamic-flex-row;
              gap: 3px;
              span.tether {
                font-family: Open Sans;
                font-size: 1.1rem;
                font-weight: 400;
                color: $white;
                text-align: left;
              }
              span {
                font-family: Open Sans;
                font-size: 0.9rem;
                font-weight: 400;
                color: #828282;

                text-align: left;
              }
            }
          }
        }
        td.seven-three {
          div.seven-three-container {
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;

              text-align: center;
            }
          }
        }
        td.seven-four {
          div.seven-four-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.seven-five {
          div.seven-five-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            span {
              font-family: $Inter;
              font-size: 1.1rem;
              font-weight: 400;
              text-align: left;
              color: #1aff7c;
            }
          }
        }
        td.seven-six {
          div.seven-six-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
          }
        }
        td.seven-seven {
          div.seven-seven-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-column($ai: flex-end);
            gap: 3px;

            p {
              font-family: $Inter;
              font-size: 1.17rem;
              font-weight: 500;
              color: $white;
              text-align: center;
            }
            span {
              font-family: $Inter;
              font-size: 0.9rem;
              font-weight: 600;
              color: #828282;
              text-align: left;
            }
          }
        }
        td.seven-eight {
          div.seven-eight-container {
            width: 100%;
            height: 100%;
            @include dynamic-flex-row;
          }
        }
      }
    }
  }

  @include iphone-13-1 {
    height: 800px;
    div.table {
      width: 100%;

      div.today {
        width: 100%;
        text-align: center;
        p {
          font-size: 1.7rem;
          @include dynamic-flex-row;
        }
      }
      table {
        width: 100%;
        tr.one {
          td.one-one {
            display: none;
          }

          td.one-three {
            visibility: hidden;
          }
          td.one-four {
            visibility: hidden;
          }
          td.one-five {
            visibility: hidden;
          }
          td.one-six {
            visibility: hidden;
          }
          td.one-eight {
            display: none;
          }
        }

        tr.two {
          td.two-one {
            display: none;
          }

          td.two-three {
            visibility: hidden;
          }
          td.two-four {
            visibility: hidden;
          }
          td.two-five {
            visibility: hidden;
          }
          td.two-six {
            visibility: hidden;
          }
          td.two-eight {
            display: none;
          }
        }

        tr.three {
          td.three-one {
            display: none;
          }

          td.three-three {
            visibility: hidden;
          }
          td.three-four {
            visibility: hidden;
          }
          td.three-five {
            visibility: hidden;
          }
          td.three-six {
            visibility: hidden;
          }
          td.three-eight {
            display: none;
          }
        }

        tr.four {
          td.four-one {
            display: none;
          }

          td.four-three {
            visibility: hidden;
          }
          td.four-four {
            visibility: hidden;
          }
          td.four-five {
            visibility: hidden;
          }
          td.four-six {
            visibility: hidden;
          }
          td.four-eight {
            display: none;
          }
        }

        tr.five {
          td.five-one {
            display: none;
          }

          td.five-three {
            visibility: hidden;
          }
          td.five-four {
            visibility: hidden;
          }
          td.five-five {
            visibility: hidden;
          }
          td.five-six {
            visibility: hidden;
          }
          td.five-eight {
            display: none;
          }
        }
        tr.six {
          td.six-one {
            display: none;
          }

          td.six-three {
            visibility: hidden;
          }
          td.six-four {
            visibility: hidden;
          }
          td.six-five {
            visibility: hidden;
          }
          td.six-six {
            visibility: hidden;
          }
          td.six-eight {
            display: none;
          }
        }

        tr.seven {
          td.seven-one {
            display: none;
          }

          td.seven-three {
            visibility: hidden;
          }
          td.seven-four {
            visibility: hidden;
          }
          td.seven-five {
            visibility: hidden;
          }
          td.seven-six {
            visibility: hidden;
          }
          td.seven-eight {
            display: none;
          }
        }
      }
    }
  }
}
